* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* cabeçalho */
header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:15vh;
    width:100%;
    background-color:#faebd7;
    position:absolute;
}
nav {
    display:inline;
    margin:20px;
}
.direita a {
    margin:10px;
    vertical-align: middle;
}
.bandeira {
    height:10vh;
    border-radius: 10px;
}
.logoMascote {
    height:35vh;
}
.fa-bell {
    color:black;
    font-size:25px;
}
.perfil {
   height:35px; 
}

/* lateral (notícias) */
aside {
    display:flex;
    position:relative;
    top:15vh;
    width:20vw;
    height:85vh;
    float:right;
    background-color: coral;
    overflow:auto;
    display:block;
}
.tituloAside {
    text-align:center;
    margin-top:15px;
    margin-bottom:5vh;
}
.news {
    text-decoration:none;
    color:black;
    font-weight: bold;
    font-size:3vh;
}
.noticias {
    width:16vw;
    margin:auto;
    box-sizing: content-box;
    padding:10px;
    border-radius:10px;
    background-color: rgba(202, 202, 202, 0.483);
}
.imgNoticia {
    width:16vw;
}
.tituloNoticia, .linhaFinaNoticia {
    text-align:justify;
}
.tituloNoticia {
    font-size: 2.5vh;
    font-weight: bold;
    color:black;
    text-decoration:none;
}
.linhaFinaNoticia {
    font-size:2vh;
}
.logoNoticia {
    /* width:1.5vw; */
    height:2.5vh;
    float:right;
}
.noticiaDois, .noticiaTres {
    margin-top:3vh;
}

/* main - colunas */
.colunaUm {
    display:inline-flex;
    position:absolute;
    top:20vh;
    left:3vw;
}
.colunaDois {
    display:inline-flex;
    position:absolute;
    top:60vh;
    left:3vw;
}
/* main - item geral */
.item {
    background-color: #faebd7;
    border-radius: 10px;
    width:35vw;
    height:35vh;
    /* height:auto; */
    color:black;
    padding:20px;
    overflow-y:auto;
    border:2px solid coral;
}
.item::-webkit-scrollbar {
    width:10px;
    background-color: #faebd7;
    border-radius:50%;
}
.item::-webkit-scrollbar-thumb {
    background-color:coral;
    border-radius:20px;
}
/* itens */
.itemUm, .itemTres {
    float:left;
    margin-right:3vw;
}
.itemDois, .itemQuatro {
    float:right;
}
.tituloItem {
    margin-bottom:5vh;
    font-size:5vh;
}
.tituloItemCartografia {
    font-size:5vh;
}

/* item um conf. */
.imgComida {
    width:15vw;
    margin-top:10px;
}
.gridComidas {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 5vh;
}
/* item dois conf. */
.piseiro {
    margin-top:10px;
}
/* item três conf. */
.tituloCultura {
    margin-bottom:10px;
}
.textoCultura {
    width:15vw;
    display:inline-block;
}
.textoCulturaUm, .textoCulturaTres {
    margin-right:1vw;
}
.textoCulturaDois {
    margin-left:1vw;
}
.imgCultura {
    width:15vw;
}
.imgUm, .imgTres {
    float:right;
}
.imgDois {
    float:left;
}
.capoeira, .frevo {
    margin-top:20px
}

/* item quatro */
.imgMapas {
    width:15vw;
    margin-top:10px;
}
.mapaNordeste {
    margin-left:10px;
}
.subtituloCartografia {
    margin-bottom:5vh;
}